doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css")
      script(src='https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js')
      script(src='https://unpkg.com/webcola/WebCola/cola.min.js')
      script(src='https://unpkg.com/dagre@0.7.4/dist/dagre.js')
      script(src='https://unpkg.com/klayjs@0.4.1/klay.js')
      script(src='https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js')
      script(src="http://code.jquery.com/jquery-2.0.3.min.js")
      script(src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js")
      script(src='/javascripts/cytoscape/cytoscape-cola.js')
      script(src='/javascripts/cytoscape/cytoscape-dagre.js')
      script(src='/javascripts/cytoscape/cytoscape-klay.js')
      script(src='/javascripts/cytoscape/cytoscape-euler.js')
      script(src='/javascripts/cytoscape/cytoscape-popper.js')
      script(src='/javascripts/cytoscape/cytoscape-qtip.js')
      script(src='/javascripts/misc.js')
      script(src='/javascripts/data-creators.js')
  body
    block content
