doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js")
      script(src="https://unpkg.com/webcola/WebCola/cola.min.js")
      script(src="/javascripts/cytoscape-cola.js")

  body
    block content
