doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js")
      script(src="https://unpkg.com/webcola/WebCola/cola.min.js")
      script(src="https://unpkg.com/dagre@0.7.4/dist/dagre.js")
      script(src="https://unpkg.com/klayjs@0.4.1/klay.js")
      script(src="/javascripts/cytoscape-cola.js")
      script(src="/javascripts/cytoscape-dagre.js")
      script(src="/javascripts/cytoscape-klay.js")
      script(src="/javascripts/cytoscape-euler.js")

  body
    block content
